<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <%- partial('post/meta') %>
      <%- partial('post/title') %>
    </header>

    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && is_archive()){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
  </div>
</article>
